h1, h2 {
    text-align: center;
}

h1 {
    padding-top: 1em;
}

h2 {
    padding-top: 1rem;
}

textarea {
    margin: auto;
    position:absolute;
    top: 20%;
    left: 30%;
    width: 800px;
    height: 100px;
    text-align: center;
}

button {
    margin: auto;
    position: absolute;
    top: 35%;
    left: 46.8%;
    
}