h1, h2 {
    text-align: center;
}

h1 {
    padding-top: 1%;
}

h2 {
    padding-top: 2rem;
}

textarea {
    margin: auto;
    position:absolute;
    top: 30%;
    left: 20%;
    width: 800px;
    height: 100px;
    text-align: center;
}

button {
    margin: auto;
    position: absolute;
    top: 52%;
    left: 45%;
    
}